<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
  <a class="navbar-brand btn btn-outline-warning btn-ripple" href="#">Bholo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/job-list']" routerLinkActive="active"><strong>Find a Job</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/find-bholomen']" routerLinkActive="active"><strong>Find
            BholoMen</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/job-post']" routerLinkActive="active"><strong>Post a Job</strong></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Pages
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
          <a class="dropdown-item" href="about.html">About Us</a>
          <a class="dropdown-item" href="contact.html">Contact Us</a>
          <a class="dropdown-item" href="blog.html">Articles &amp; Blog</a>
          <a class="dropdown-item" href="terms_privacy.html">Terms &amp; Privacy</a>
          <a class="dropdown-item" href="company_page.html">Company Profile</a>
          <a class="dropdown-item" href="shortcode.html">Short Code</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Features
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
          <a class="dropdown-item" [routerLink]="['/job-list']" routerLinkActive="active">Find a Job</a>
          <a class="dropdown-item" href="job_details.html">Job Details</a>
          <a class="dropdown-item" [routerLink]="['/find-bholomen']" routerLinkActive="active">Find BholoMen</a>
          <a class="dropdown-item" href="resume_details.html">Resume Details</a>
          <a class="dropdown-item" [routerLink]="['/job-post']" routerLinkActive="active">Post a Job</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">
          <span class="btn btn-sm btn-warning btn-ripple">Login</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active">
          <span class="btn btn-sm btn-warning btn-ripple">Register</span>
        </a>
      </li>
      <li class="nav-item dropdown align-self-center">
        <a class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img src="assets/theme/images/people/4.jpg" width="30" alt="" class="img-profile"> &nbsp; <span>Jhon</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
          <a class="dropdown-item" href="my_alerts.html"> My Alerts </a>
          <a class="dropdown-item" href="my_notifications.html"> Notifications <span class="badge">5</span></a>
          <a class="dropdown-item" href="change_password.html"> Change Password</a>
        </div>
      </li>
      <li class="nav-item align-self-center">
        <a (click)="logout()" class="nav-link">
          <span class="btn btn-sm btn-warning btn-ripple">Logout</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
